extends layout

block content
  #page-wrapper
    .container-fluid
      .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
          h4.page-title Category Table
        button.col-lg-2.col-md-3.col-sm-3.col-xs-12.ml-auto.btn.btn-primary(type='button' data-toggle='modal' data-target='#categoryModal')
         | Insert Category
      .row
        .col-sm-12
          .white-box
            .table
              table.table
                thead
                  tr.row
                    th.col-sm-1.text-center #
                    th.col-sm-11.text-center Category Name
                tbody
                  - for (let i=0; i < listCategories.length; i++)
                    tr.row
                      td.col-sm-1.text-center #{i+1}
                      td.col-sm-11.text-center #{listCategories[i].categoryName}
  #categoryModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='categoryModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .container
        .row
          .col-sm-11.col-md-9.col-lg-7.mx-auto
            .modal-content
              form.form-horizontal.form-material(method='post' action='/admin/insertCategory')
                .modal-header
                  h5#categoryModalLabel.modal-title Insert Category
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    .col-md-12
                      input.form-control.form-control-line(type='text' name="categoryName" placeholder="Category" required)
                .modal-footer
                  button.btn.btn-primary(type='submit') Insert